
@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-top:5rem;">
    <div class="row">
        <div class="col-md-6">
            <label>Ingrese DNI a validar</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" id="dni_person" name="dni_person" required="required" maxlength="15">
                <span class="input-group-btn" style="width: 0 !important;">
                    <button class="btn btn-primary" id="validarDni" type="button">Validar</button>
                </span>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:2rem;">
            <ul class="list-group" id="loadData"></ul>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#validarDni").click(function () {
        var dni = $("#dni_person").val();
        var data = {
            id: dni
        }
        console.log(data);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetPersonaValidation", "Persona")",
            content: "application/json",
            dataType: "json",
            data: data,
            success: function (data) {
                var ulPersona = $("#loadData");
                var el = "";

                if (data !== "error") {
                    var item = $.parseJSON(JSON.stringify(data));

                    if (item.length === 0) {
                        ulPersona.empty();
                        el += '<li class="list-group-item" style="text-align:center;"><label style="font-size: 16px;" class="label label-warning">No se encontro a la Persona</label></li>';
                        ulPersona.html(el);
                        console.log("No se encontro a esta persona");
                    }
                    else {
                        $.each(data, function (index, x) {
                            ulPersona.empty();
                            var datos = x.nombres + " " + x.apellidos
                             el += '<li class="list-group-item">' + datos + '</li>'
                                + '<li class="list-group-item">' + x.celular + '</li>';
                            ulPersona.html(el);
                            console.log("excelente se encontro");
                        });
                    }
                } else {
                    ulPersona.empty();
                    el += '<li class="list-group-item" style="text-align:center;"><label style="font-size: 16px;" class="label label-warning">No se encontro a la Persona</label></li>';
                    ulPersona.html(el);
                    console.log("No se encontro a esta persona");
                    //console.log("error");
                }
            },
            error: function (xhr, textStatus, errorThrown) {

                alert('Error!!');
            }
        });
    });
</script>